<h1 style="text-align: center">{{title}}</h1>

<form action="">
<input type="text" name="name" [(ngModel)] = "name"><br/>
<input type="text" name="surname" [(ngModel)] = "surname"><br/>
<input type="submit" value="Register" (click) = registerUser()><br/>



</form>

<br>
<p>ngIf modifies the structure of the DOM</p>
<p *ngIf="registered; else notRegistered">{{message}} with the name of {{name}} {{surname}}</p>
<!-- ng-template will only show up if notRegistered becomes true -->
<ng-template #notRegistered>
<p>Not registered</p>
</ng-template>

<br><br>

<ul>
<li *ngFor="let entry of entries; let i=index"><span style="font-size: larger; font-weight:bold">Entry {{i +1}} </span>{{entry.title}}</li>

</ul>